@use "../../scss" as *;

.menu-wrapter {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9;
}
.menu__btn {
  padding: 12px;
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #5f636828;
    opacity: 0.87;
  }
}

.menu__items {
  padding: 8px;
  box-shadow: inset 0 -1px 0 0 #dadce0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $btn-color;

  .menu-title {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      padding-right: 4px;
    }

    span {
      padding-left: 4px;
      font-size: 22px;
      transition: all 0.3s;
      @include mobile {
        display: none;
      }
    }
  }

  .menu__logo {
    display: flex;
    align-items: center;
    justify-content: space-center;
    min-width: 232px;
    @include mobile {
      min-width: 120px;
      width: fit-content;
    }
  }
}

.menu__search {
  max-width: 1464px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  @include mobile {
    justify-content: end;
  }

  .search-btn {
    @include mobile {
      display: none;
    }
  }

  .search__input {
    max-width: 720px;
    width: 100%;
    background-color: #f1f3f4;
    border-radius: 8px;
    overflow: hidden;

    @include mobile {
      // background-color: transparent;
      width: fit-content;
    }

    .close {
      display: none;
    }

    &:focus-within {
      background-color: rgba(255, 255, 255, 1) !important;
      box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%),
        0 1px 3px 1px rgb(65 69 73 /15%);

      .close {
        display: block;
      }
    }

    input {
      max-width: 615px;
      padding: 11px;
      width: 100%;
      border: none;
      background-color: transparent;
      height: 46px;
      font-size: 16px;
      outline: none;
      @include mobile {
        // display: none;
      }
    }
  }

  .search__wrap {
    max-width: 720px;
    width: 100%;
    display: flex;
    align-items: center;
    @include mobile {
      display: block;
    }
  }
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__acount {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 124px;
  padding: 0 4px;
  position: relative;
  &:hover {
    .profile-menu {
      display: block;
    }
  }
}
