@use "../../scss/" as *;

.editor {
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  border-radius: 8xp;
  position: relative;
  width: auto;
  min-width: 500px;
  max-width: 600px;

  input {
    line-height: 20px;
    width: 100%;
    border: none;
    outline: none;
  }
  &Title {
    display: flex;
    padding: 10px 15px;
    input {
      font-weight: 500;
      font-size: 16px;
    }
  }
  &Text {
    padding: 12px 16px;

    input {
      font-weight: 400;
      font-size: 14px;
    }
  }
  &Feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    &__close {
      padding: 8px 24px;
    }
  }
}
.editorIcon__list {
  list-style: none;
  display: flex;
  justify-content: start;
}

.editorIcon__item {
  width: 32px;
  height: 32px;
  margin: 0 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.3s;
  .redo {
    transform: scaleX(-1);
  }
  img {
    width: 18px;
    height: 18px;
    opacity: 0.54;
  }
  &:hover {
    background-color: #5f636828;
  }
}
