@use "../../scss/" as *;

.body-content {
  display: flex;
  height: 100%;
}

.left {
  width: 100%;
  max-width: 248px;
  min-width: 30px;
  margin-right: 40px;
  transition: all 0.3s;
  @media only screen and (max-width: 950px) {
    width: 20%;
  }
}

.right {
  width: 100%;
  min-width: 0px;
}

.editor-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.note__content {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 1700px;
  width: 100%;
  transition: all 0.3s;
  @media only screen and (max-width: 600px) {
    display: flex;
    align-items: center;
  }
}
