@use "../../scss/" as *;

.editLabels {
  max-width: 320px;

  input {
    outline: none;
    border: none;
    height: 25px;
    font-size: 15px;

    &:focus {
      border-bottom: 1px solid;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

    img {
      cursor: pointer;
    }
  }

  .label__item {
    margin: 8px 0;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus-within {
      p {
        display: none;
      }
      input {
        display: block;
      }
    }

    .deleteIcon {
      transition: all 0.3s;
      display: none;
      cursor: pointer;
    }

    .checkIcon {
      transition: all 0.3s;
      display: none;
      cursor: pointer;
    }

    &:hover {
      .deleteIcon {
        display: block;
      }

      .labelIcon {
        display: none;
      }

      .checkIcon {
        display: block;
      }

      .editIcon {
        display: none;
      }
    }
  }

  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__cre {
    display: flex;
    justify-content: space-between;

    .cre__btn {
      cursor: pointer;
    }
  }

  &__body {
    margin: 16px 0;

    p {
      font-size: 16px;
      font-weight: 400;
      margin-left: 5px;
    }
  }

  &__footer {
    padding-top: 10px;

    button {
      padding: 5px 8px;
      background-color: transparent;
      border: none;
      float: right;
      font-size: 15px;
      border-radius: 4px;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: rgba(95, 99, 104, 0.103);
      }
    }
  }
}
