@use "../../scss/" as *;
.big-note-trash {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 25px 35px 45px 35px;
  min-width: 300px;
  max-width: 500px;
  min-height: 100px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all 0.3s;

  @include tablet {
    width: 450px;
  }

  @include mobile {
    width: 400px;
  }

  .note-trash-content {
    overflow-y: auto;
    height: calc(100% - 20px);
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
    height: 100%;
  }

  .note-card__feature {
    padding-bottom: 10px;
    padding-left: 25px;
  }
}
