@use "../../scss/" as *;

.resetpassword-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resetpassword {
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 38px;

  .form-input {
    height: 40px;
    border-radius: 4px;
    margin: 10px 0;
    margin-right: 10px;
    padding: 6px 8px;
    border: 1px solid #dadce0;
  }

  .request-btn {
    margin-top: 10px;
  }

  .request-input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-btn__group {
    display: flex;
    justify-content: center;
  }

  .request-btn__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
