@use "../../scss/" as *;
.comfirm {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  z-index: 99;
  &__ques {
    p {
      font-weight: 700;
    }
  }
}

.cofirm__choosing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

  button {
    margin-left: 24px;
    padding: 10px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
  }

  .comfirm__cancel {
    &:hover {
      background-color: rgba(95, 99, 104, 0.039);
    }
  }

  .comfirm__empty {
    color: #1a73e8;

    &:hover {
      background-color: rgba(66, 133, 244, 0.039);
    }
  }
}
