@use "../../scss/" as *;

.trash__dr {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  align-items: center;
  padding-bottom: 8px;

  p {
    margin-right: 16px;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
  }
}
