@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $body-bg;
  color: $txt-color;
}

a {
  text-decoration: none;
  color: unset;
}
.btn-nonbg {
  color: #1a73e8;
  font-size: 16px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  background: none;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 4px;

  &:hover {
    background-color: #99beee36;
    color: #0d71f3;
  }
}

.btn-bg {
  background-color: #1a73e8 !important;
  color: white;
  font-size: 16px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s;
  border-radius: 4px;

  &:hover {
    background-color: #99beee36 !important;
    color: #0d71f3;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
