$body-bg: #fff;
$main-color: #fff;
$txt-color: #202124;
$btn-color: #5f6368;

$white: #fff;
$black: #202124;
$hover-color: #5f636828;
$hover-opacity: 0.87;

$box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
$border-color: #e0e0e0;

$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1120px;

$font-family: "Roboto", sans-serif;
