@use "../../scss/" as *;

.note-text {
  min-width: 390px;
  max-height: auto;
  height: auto;
  width: auto;
  min-width: 500px;
  max-width: 600px;

  &__show {
    .show__input {
      height: 46px;
      width: 100%;
      padding: 8px 12px;
      box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 2px 6px 2px rgb(60 64 67 / 15%);
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
