@use "../../scss/" as *;

.note-card {
  width: 220px;
  border: 1px solid #e0e0e0;
  position: relative;
  border-radius: 8px;
  height: 100%;
  transition: all 0.3s;
  padding-bottom: 40px;
  max-height: 500px;
  margin: 5px;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    width: 400px;
  }
  @media only screen and (max-width: 600px) {
    width: 350px;
  }
  &__feature,
  &__select,
  &__pin {
    opacity: 0;
  }
  &__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    .note-card__feature,
    .note-card__select,
    .note-card__pin {
      opacity: 100%;
    }
  }

  &__text {
    width: 220px;
    min-height: 90px;
    padding: 12px 10px;
    word-wrap: break-word;
    cursor: pointer;

    overflow: hidden;

    h3 {
      font-size: 18px;
      font-weight: 700;
      word-wrap: break-word;
    }

    .content {
      padding: 14px 10px;
      padding-right: 35px;
      max-height: 200px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .reminderStatus {
      display: none;
      align-items: center;
      text-align: center;
      padding: 8px 5px;
      justify-content: center;
      height: 24px;
      width: 100%;
      font-size: 12px;
      margin-bottom: 8px;
      background-color: rgba(0, 0, 0, 0.08);
      opacity: 0.5;
      border-radius: 10px;

      img {
        margin-right: 8px;
      }

      &.active {
        display: flex;
      }
    }
  }

  .labels {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: 500;
    padding: 3px 12px;
    font-size: 14px;
    border-radius: 12px;
    margin-left: 12px;
  }

  &__feature {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__select {
    position: absolute;
    left: 0;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
  }

  &__pin {
    position: absolute;
    right: 1%;
    top: 8%;
  }
}
